{% extends "base.html" %}

{% block title %}Add a Donut{% endblock %}


{% block body %}
<h1>Add New Donut</h1>

{% if added=="success" %}
  <div class="alert alert-success" role="alert">
    Donut added successfully.
  </div>
{% endif %}
{% if added=="fail" %}
  <div class="alert alert-danger" role="alert">
    Error occurred.
  </div>
{% endif %}
{% if file %}
  <div class="alert alert-danger" role="alert">
    {{file}}
  </div>
{% endif %}

<form action="/admin/add" method="POST" enctype="multipart/form-data" autocomplete="off">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Donut Name" >
    {% if error.name %}
        <p class="error">Name field is required.</p>
    {% endif %}
    </div>
    <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" name="price" placeholder="Price" >
    {% if error.price %}
        <p class="error">Price field is required.</p>
    {% endif %}
    </div>
    <div class="form-group">
        <label for="shortDescription">Short Description</label>
        <input type="text" class="form-control" id="shortDescription" name="shortDescription" placeholder="Short Description" >
        {% if error.shortDescription %}
            <p class="error">Short Description field is required.</p>
        {% endif %}
    </div>
    <div class="checkbox">
    <label>
        <input type="checkbox" name="isDonutOfTheWeek"> Is Donut of Week?
    </label>
    </div>
    <div class="form-group">
        <label for="longDescription">Long Description</label>
        <textarea name="longDescription" id="longDescription" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Upload Photo of Donut (max size is 1000000 MB)</label>
        <input type="file" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
    
